name: CI
on:
  pull_request:
  push:
    branches:
      - main
      # validate configs that are pushed to a branch
      - 'v[0-9]*'

concurrency:
  group: ${{ github.ref }}-ci
  cancel-in-progress: true

permissions: {}

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - run: printenv | sort

      - name: Set up Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: yarn
          node-version-file: .nvmrc

      - run: yarn --immutable

      - name: Check token
        run: |
          if [[ -n "$TOKEN" || "$GITHUB_EVENT_NAME" -eq "push" ]]; then
            yarn check-token "$TOKEN"
          else
            echo "Skipping token check"
          fi
        env:
          TOKEN: ${{ secrets.TOKEN_GITHUB_READ }}

      - name: Check formatting
        run: yarn format:check

      - name: Check readme
        run: yarn update-readme --check

      - name: Type check scripts
        run: yarn build

      - name: Lint presets
        run: yarn lint

      - name: Basic preset validation
        run: yarn test:basic
        id: validate

      - name: Upload validation logs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ always() && steps.validate.outcome != 'skipped' }}
        with:
          path: renovate.validate.log
          name: renovate-validate-log

      - name: Renovate dry run with all presets
        run: yarn test:full
        id: dryRun
        env:
          TOKEN: ${{ secrets.TOKEN_GITHUB_READ }}
          TOKEN_REQUIRED: 1

      - name: Upload dry run logs
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ always() && steps.dryRun.outcome != 'skipped' }}
        with:
          path: renovate.log
          name: renovate-dry-run-log
