name: Release

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-release

permissions: {}

jobs:
  prerelease:
    runs-on: ubuntu-latest
    outputs:
      shouldRelease: ${{ steps.shouldRelease.outputs.shouldRelease }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - uses: microsoft/beachball-actions/should-release@41a1368a4946726b0571635bcc6f757cf25c1171
        id: shouldRelease
        with:
          token: ${{ github.token }}
          batch: true
          mode: output
          changeGlob: '.changeset/*.md'

  release:
    needs: prerelease
    if: ${{ needs.prerelease.outputs.shouldRelease == 'yes' }}

    runs-on: ubuntu-latest

    # This environment contains secrets needed for publishing and is only accessible to main builds
    environment: release

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
          # Don't save creds in the git config (so it's easier to override later)
          persist-credentials: false

      - name: Set up Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          cache: yarn
          node-version-file: .nvmrc

      - run: yarn --immutable

      - name: Type check scripts
        run: yarn build

      - name: Lint presets
        run: yarn lint

      - name: Basic preset validation
        run: yarn test:basic
        id: validate

      - name: Renovate dry run with all presets
        run: yarn test:full
        id: dryRun
        env:
          TOKEN: ${{ secrets.TOKEN_GITHUB_READ }}
          TOKEN_REQUIRED: 1

      - name: Release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        env:
          # Used by changesets and when pushing updates
          GITHUB_TOKEN: ${{ secrets.REPO_PAT }}
        with:
          # Used to authenticate the `github` object (used for creating the release)
          github-token: ${{ secrets.REPO_PAT }}
          script: |
            const release = require('./scripts/release/index.cjs');
            await release(github);
